header {
  height: 64px;
}

body {
  font-family: "Lora";
}

button {
  padding: 0.5rem 1rem; 
  background-color: #2e1f17;
  margin-inline: 0.5rem;

  &:hover {
  background-color: #463329;
  transform: scale(1.05); 
  }

  &:active {
  transform: scale(0.95); 
  }

}

.text {
  margin-left: 0.5rem;
}

img {
  width: 80%;
  aspect-ratio: 2/3;
  object-fit: cover;
  margin-top: 2rem;
}
