button {
  padding: 0.5rem 1rem; 
  background-color: #2e1f17;
  margin-inline: 0.5rem;

  &:hover {
  background-color: #463329;
  transform: scale(1.05); 
  }

  &:active {
  transform: scale(0.95); 
  }
  

}